<div class="title-container">
  <h1>Albums by {{this.artist}}</h1>
</div>
<div class="container-wrapper">
  <div class="cards-container">
    {{#each this.albums}}
    <div class="card-container">
      <div class="img-container">
        <img src={{images.[0].url}} alt="">
      </div>
      <h4>{{name}}</h4>
      <a href='/track/{{id}}'>View Tracks</a>
    </div>{{/each}}
  </div>
</div>