<div class="title-container">
  <h1>{{this.originalQuery}}
  </h1>
</div>
<div class="container-wrapper">
  <div class="cards-container">
    {{#each this.artists}} {{#if images.[0]}}
    <div class="card-container">
      <div class="img-container">
        <img src={{images.[0].url}} alt="">
      </div>
      <h4>{{name}}</h4>
      <a href='/album/{{id}}'>View Albums</a>
    </div>{{/if}}{{/each}}
  </div>
</div>