<div class="background-wrapper">
  <div class="full-wrapper">
    <div class="form-container">
      <form action="/artist" method="GET">
        <input type="text" name="artist" placeholder='Artist' id="artist">
        <input type="submit" value="Search for an artist " id="submit">
      </form>
    </div>
  </div>
</div>