* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.full-wrapper {
  background-image: url("../images/blurred-background.jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .form-container {
    background-color: rgba(1, 1, 1, 0.4);
    height: 260px;
    width: 500px;
    display: flex;
    justify-content: center;
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      #artist {
        width: 280px;
        border: none;
        padding: 6px;
        margin: 8px 0;
      }
      #submit {
        color: white;
        background-color: rgb(201, 75, 75);
        padding: 6px 18px;
        border: none;
        margin: 8px 0;
      }
    }
  }
}

.title-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.container-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  .cards-container {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .card-container {
      width: 240px;
      display: flex;
      flex-direction: column;
      margin: 6px;
      img {
        width: 100%;
      }
    }
  }
}
